# The following options will be passed to all MySQL clients
[client]
port                                  = 3306
socket                                = /var/lib/mysql/mysql.sock

# The MySQL server
[mysqld]
skip-host-cache
skip-name-resolve
secure-file-priv                      = /var/lib/mysql-files
user                                  = mysql

socket                                = /var/lib/mysql/mysql.sock
datadir                               = /var/lib/mysql
log-error                             = /var/log/mysqld.log

# Setup default utf8 charset
character-set-server                  = utf8mb4

# Prefer innodb engine
default_storage_engine                = InnoDB

log-bin                               = mysql-bin
binlog_expire_logs_seconds            = 259200

gtid_mode                             = ON
enforce_gtid_consistency              = ON
binlog_format                         = ROW

# slow_log sampling
slow_query_log                        = 1
long_query_time                       = 0
log_slow_rate_limit                   = 100
log_slow_rate_type                    = query
log_slow_verbosity                    = full
log_slow_admin_statements             = ON
log_slow_slave_statements             = ON
slow_query_log_always_write_time      = 1
slow_query_log_file                   = /var/lib/mysql/slow-query.log
slow_query_log_use_global_control     = all
